In [ ]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [ ]:
# Read the data into a Pandas DataFrame
citibike_summer_df = pd.read_csv('Resources/JC-202206-citibike-tripdata.csv')
citibike_summer_df.head()

In [31]:
#check the dataframe information
citibike_summer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327032 entries, 0 to 115230
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             327032 non-null  object
 1   rideable_type       327032 non-null  object
 2   started_at          327032 non-null  object
 3   ended_at            327032 non-null  object
 4   start_station_name  327032 non-null  object
 5   start_station_id    327032 non-null  object
 6   end_station_name    325940 non-null  object
 7   end_station_id      325940 non-null  object
 8   start_lat           327032 non-null  float64
 9   start_lng           327032 non-null  float64
 10  end_lat             326197 non-null  float64
 11  end_lng             326197 non-null  float64
 12  member_casual       327032 non-null  object
 13  started_at_date     327032 non-null  object
 14  started_at_time     327032 non-null  object
 15  ended_at_date       327032 non-null  object
 16  ended_at_time       327032 non-null  object
dtypes: float64(4), object(13)
memory usage: 44.9+ MB

In [32]:
#read in the csv file for july into a dataframe

citibike_july_df = pd.read_csv('Resources/JC-202207-citbike-tripdata.csv')
citibike_july_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual

In [ ]:
#append the july dataframe to the summer dataframe (so june and july are combined)
citibike_summer_df=citibike_summer_df.append(citibike_july_df)
citibike_summer_df.tail(5)

In [ ]:
#read august csv into august dataframe
citibike_august_df = pd.read_csv('Resources/JC-202208-citibike-tripdata.csv')
citibike_august_df.head()

In [ ]:
#append august dataframe to the summer dataframe to complete 3 months of data total

citibike_summer_df=citibike_summer_df.append(citibike_august_df)
citibike_summer_df.tail(5)

In [ ]:
# Read the november 2022 data into a Pandas DataFrame

citibike_winter_df = pd.read_csv('Resources/JC-202211-citibike-tripdata.csv')
citibike_winter_df.head()

In [ ]:
#read the december 2022 data into a dataframe 
citibike_december_df = pd.read_csv('Resources/JC-202212-citibike-tripdata.csv')
citibike_december_df.head()

In [ ]:
#append the december dataframe to the winter dataframe and check last 5 rows
citibike_winter_df=citibike_winter_df.append(citibike_december_df)
citibike_winter_df.tail(5)

In [ ]:
#read january 2023 csv file into january dataframe
citibike_january_df = pd.read_csv('Resources/JC-202301-citibike-tripdata.csv')
citibike_january_df.head()

In [ ]:
#append january dataframe to winter dataframe to give 3 months total data combined
citibike_winter_df=citibike_winter_df.append(citibike_january_df)
citibike_winter_df.tail(5)

In [ ]:
#import dependency and split the starting and ending trip date/time columns 
# to separate date and time columns in winter and summer dataframes

from datetime import datetime
citibike_summer_df[["started_at_date", "started_at_time"]] = citibike_summer_df["started_at"].str.split(expand=True)
citibike_summer_df[["ended_at_date", "ended_at_time"]] = citibike_summer_df["ended_at"].str.split(expand=True)
citibike_winter_df[["started_at_date", "started_at_time"]] = citibike_winter_df["started_at"].str.split(expand=True)
citibike_winter_df[["ended_at_date", "ended_at_time"]] = citibike_winter_df["ended_at"].str.split(expand=True)

In [ ]:
#confirm new split columns
citibike_winter_df.head()

In [ ]:
#confirm new split columns
# citibike_summer_df.head()

In [ ]:
#save summer dataframe to new csv file
citibike_summer_df.to_csv("CombinedData/summer22data.csv", index=False, header=True)
citibike_summer_df.head()

In [ ]:
#save winter dataframe to new csv file
citibike_winter_df.to_csv("CombinedData/winter22data.csv", index=False, header=True)

citibike_winter_df.tail()